* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.herocolor {
    background-color: #1f2937;
    margin-bottom: 4%;
}

header {
    background-color: #1f2937;
    color: white;
    padding-top: 20px;
    margin-bottom: 10%;
}

.hlist {
    display: flex;
    list-style-type: none;

}

.headerlogo a{
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10%;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerlogo {
    margin-right: auto;
    margin-left: 10%;
}

.nav {
    margin-right: 10%;
    display: flex;
    gap: 8%;
    white-space: nowrap;
}

.nav a {

    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.hero {
    display: flex;
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.description {
    color: white;
    font-size: 18px;
}

.main-image {
    padding-bottom: 5%;
    padding-left: 3%;
}

.about {
    margin-left: 17%;
    max-width: 23%;
}

.signup {
    background-color: #3382f6;
    padding: 7px 15px 7px 15px;
    margin-top: 10px;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    
}

.signup:hover {
    background-color: blue;
}

.infotext {
    text-align: center;
    font-size: 36px;
    color: black;
    font-weight: 700;
    padding-bottom: 4%;
}

.cards {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    max-width: 80%;
    width: 80%;
    justify-content: center;
}

.card {
    width: 15%;
    max-width: 15%;
    max-height: 50%;

}

.card img {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(93, 93, 221);
    border-radius: 10%;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card p {
    padding:13px;
    font-size: large;
    color: #4f545c;
    text-align: center;
}

.qoute {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d1d4d8;
    height: 50vh;
}

.qoute p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 50%;
    margin: 10%;
}

.cite {
    margin-top: -10%;
    margin-right: 25%;
    margin-bottom: 10%;
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
}

.signup-part {
    height: 45vh;
    width: 100%;
}

.signup-board {
    background-color: rgb(0, 108, 248);
    width: 60%;
    height: 40%;
    margin: auto;
    margin-top: 10%;
    border: solid 10px  rgb(0, 108, 248);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-board h3{
    color: white;
    font-size: x-large;
}

.signup-board p{
    color: white;
    font-size:large;
}

.signup2 {
    background-color: rgb(0, 108, 248);
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: white 3px solid;
    height: 50px;
    
}

.signup2:hover {
    background-color: blue;
}

footer {
    height: 10vh;
    background-color: #1f2937;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}